@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
body {
    background-color: #0b0e11;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: grid;
    max-width: 1200px;
    width: 100%;
    text-align: center;
}

.atas {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #1c1e22;
}
.atas h3, .container h2 {
    color: yellow;
}

.crypto-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.crypto-card {
    background: #1c1e22;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s;
    text-align: center;
}

.crypto-card img {
    width: 50px;
    height: 50px;
}

.crypto-card h4 {
    margin: 10px 0 5px;
}

.crypto-card p {
    margin: 5px 0;
}

.crypto-card:hover {
    transform: scale(1.05);
}

.change.negative {
    color: red;
}

/* Media Query for small screens */
@media (max-width: 600px) {
    .crypto-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}